.app-header{
  position: fixed;
  left:0;
  top:0;
  z-index: 30;
  -webkit-app-region: drag;
  width: 100%;
  
  /* Dynamic padding is now handled in the component based on sidebar state */
}

.search-icon-container {
  margin-left: 1.5rem;
  z-index: 35;
  position: relative;
  
  button {
    -webkit-app-region: no-drag;
  }
}
