<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src * 'unsafe-inline' 'unsafe-eval' data: blob:; script-src * 'unsafe-inline' 'unsafe-eval'; connect-src * 'unsafe-inline' https://api.canny.io https://canny.io; frame-src * https://api.canny.io https://canny.io; img-src * data: blob:; media-src * data: blob:; worker-src * data: blob:; font-src * data: blob:;"
    />
    <base href="./" />
    <title>OMNI</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
